<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.overc_i3.mars.util">

    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 网络访问权限 -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!-- 访问SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 获取网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
